/****** Main Styling ******/
html {
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	height: 100%;
}

#left-col, #right-col, .container-fluid, .row {
	height: 100%;
}

#left-col {
	background-color: #fefefa;
}

h1 {
	font-family: 'Roboto Slab', serif;	
	position: relative;
}

.bg-accent {
	background-color: #A2DED0;
}

.color-accent {
	color: #A2DED0;	
}

a, a:hover, a:visited {
	color: #000000;
	text-decoration: none;
}

.home {
	float: left;
}

.logout {
	float: right;
	font-size: 2em;
	cursor: pointer;
}

.btn {	/* Styling for buttons */
	margin-top: 5px;
	color: #000000;
	display: inline-block;
	border: 0;
	font-size: 14px;
	border-radius: 3px;
	padding: 10px 5px;
	width: 100px;
	font-weight: 500;
	margin: 0px 10px 5px 10px;
}

.btn:hover {
	color: #ffffff;
}

.btn:active {	/* Scale the button down by 10% when clicking on button */
	transform: scale(0.9, 0.9);
	-webkit-transform: scale(0.9, 0.9);
	-moz-transform: scale(0.9, 0.9);
	border-color: #ffffff;
}

.btn:focus {
	outline:0 !important;
}


/****** For pages with less content ******/
.h1-pad {
	padding: 20% 0% 10% 0%;
}


/****** Pop up ******/
.popup, .logout-alert, .delete-alert {
	background: rgba(100, 100, 100, 0.8);
	position: fixed;
	display: none;
	z-index: 5000;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	padding: 5%;
}

.popup i, .logout-alert i, .delete-alert{
	margin-right: 10px;
}

.btn-close {
	margin-top: 20px;
}


/***** Poll list for main & profile page ******/
#poll-list li {
	display: inline-block;
	background-color: #ffffff;
	border-radius: 10px;
	padding: 5px;
	margin: 5px;
	font-size: 1.1em;
}

#poll-list li:hover {
	transform: scale(1.2, 1.2);
	-webkit-transform: scale(1.2, 1.2);
	-moz-transform: scale(1.2, 1.2);
}


/****** Login Styling ******/
.login-container {
	position: relative;
	left: 30%;
	margin-top: 20%;
}

.btn-login {
	margin-top: 5%;
	padding: 7px 5px;
}

#login-form input, .btn-login, .btn-signup, #github-btn {
	width: 40%;
}

#login-form input {
		position: relative;
	left: 30%;
}

.btn p {
	margin: 8px 60px 0px 0px;
	padding: 0;
}

.btn > img {
	float: left;
	margin-left: 10px
}


/****** Profile Styling ******/
#user-stats {
	border: solid 2px #000000;
	margin: 0% 1%;
	clear: left;
}

#user-stats h1, p {
	position: relative;
	left: 10%;
}


/****** Error page ******/
.large-text {
	font-size: 5em;
}


/****** View poll page ******/
#poll-form ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

#poll-form ul li{
  color: #AAAAAA;
  position: relative;
  width: 100%;
  height: 50px;
  border: 1px solid #AAAAAA;
}

#poll-form ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  z-index: 9;
  margin: 10px 0px 10px 20px;
  text-align: center;
  overflow-x: auto;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

#poll-form ul li:hover label{
    color: #A2DED0;
}

#poll-form ul li .check{
  display: block;
  position: absolute;
  border: 5px solid #AAAAAA;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 10px;
  left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

#poll-form ul li:hover .check {
  border: 5px solid #A2DED0;
}

#poll-form ul li .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

#poll-form input[type=radio]:checked ~ .check {
  border: 5px solid #A2DED0;
}

#poll-form input[type=radio]:checked ~ .check::before{
  background: #A2DED0;
}

#poll-form input[type=radio]:checked ~ label{
  color: #A2DED0;
}

.btn-vote {
	margin-top: 10px;
	width: 80%;
}

#pollChart {
	background-color: #ffffff;
	margin-top: 15%;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}


/****** Create poll styling ******/
input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.data-options label {
	margin: 5% 10%;
	float: left;
	text-align: center;
	font-size: 10em;
    /*-webkit-text-stroke: 5px white;*/
    color: #383838;
    cursor: pointer;
}

#poll-form {
	width: 40%;
	position: relative;
	left: 30%;
}

.btn-small-add {
	width: 30px;
	padding: 5px;
	float: left;
}

.btn-create {
	float: right;
}

#poll-new-title {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  font-size: 1.5em;
  height: auto;
  color: #000000;
  text-decoration: underline #A2DED0;
}

#data-display {
	display: none;
}

.enlarge {
	transform: scale(1.2, 1.2);
	-webkit-transform: scale(1.2, 1.2);
	-moz-transform: scale(1.2, 1.2);
}

.grey-out {
	color: #606060;
}