extends ./layout

block title 
	title Pollable
block left-content
	.text-center
		h1.h1-pad
			| Hello, 
			span#display-name.color-accent #{user.github.displayName}
			| !
		.btn-container
			button.btn.btn-new.bg-accent(type='submit') New poll
			button.btn.btn-view View polls
block right-content
	h1 Share your opinion on these polls
	#poll-list
		each poll in polls
			li
				a(href="/poll/#{poll.id}") #{poll.title}